.activitiesTitleWrapper{
	margin-top:70px;
	height:300px;
	background:#ea5a55;
	background-repeat: no-repeat;
	background-size:cover;
}
.activitiesHeaderText{
	font-size: 40px;
	line-height: 300px;
	margin:auto;
	text-align: center;
	color:white;
	text-transform: uppercase;
	font-weight:bold;
}

.usefulLinks{
	text-align:center;
	margin-bottom:100px;
	margin-top:50px;
}
.usefulLinks li{
	list-style: none;
	margin-bottom:20px;
}
.usefulLinksTitle{
	font-weight:bold;
}

.comments{
	margin:auto;
	width:80%;
	min-width:600px;
}

.likeSection{
	text-align:center;
	margin-bottom:150px;
	margin-top:50px;
}

#commentsTitle{
	width:100%;
}


.wrapperComments{
	width:80%;
	margin:auto;
}

.headerComment{
	font-weight:bold;
	margin:auto;
	text-align:center;
	border-top: 1px solid black;
	padding-top: 30px;
	background-color:#f2f2f2;
	margin-bottom:-10px;
	padding-bottom: 30px;
}
.commentsContent{
	margin-bottom:50px;
	padding:20px;

	background-color:#f6f6f6;
}

.commentsAdd{
	margin:auto;
	text-align:center;
}

#sectionAdd{
	margin:auto;
	text-align:center;
}

#commentAdd{
	margin:auto;
	text-align:center;
	margin-bottom:50px;
	border:none;
	padding:20px;
	transition:all 0.5s ease;
		background-color:#EB5A55;
}

button{
	margin:auto;
	text-align:center;
	margin-bottom:50px;
	border:none;
	padding:20px;
	transition:all 0.5s ease;
	background-color:#EB5A55;
}
button:hover{
	color:white;
}
.buttonStyle{
	margin:auto;
	text-align:center;
	margin-bottom:50px;
	border:none;
	padding:20px;
	transition:all 0.5s ease;
		background-color:#f2f2f2;
}
.buttonStyle:hover{
	background-color:#EB5A55;
	color:white;
}

#commentAdd:hover{
	background-color:#EB5A55;
	color:white;
}

#comment{
	width:800px;
	height:200px;
	margin-bottom:50px;

}
textarea{
	resize: none;
}

.btnComs{
	margin:auto;
	text-align:center;
	margin-bottom:50px;
	border:none;
	padding:20px;
	transition:all 0.5s ease;
}
.btnComs:hover{
	background-color:#EB5A55;
	color:white;
}
