body {
    font-family: 'Roboto', sans-serif;
}

.align-center {
    text-align: center;
}

.editable {
    outline: 5px dashed rgba(155, 155, 155, 0.49);
    outline-offset: 15px;
    margin-bottom: 25px;
}

i {
    margin-right: 5px;
}

.navbar-default {
    background-color: white;
    border: 2px solid #e6e6e6;
    color: black;
}

.navbar-default .navbar-nav > li > a {
    color: black;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {

}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-color: #e6e6e6;
}

.navbar-brand, .navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.navbar-brand img {
    margin-top: 10px;
    margin-right: 40px;
    height: 50px;
}

#login-buttons {
    text-transform: uppercase;
}

#login-buttons a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.mainContent {
    margin-bottom: 80px;
}

h1, h2 {
    font-family: 'Patua One', cursive;
}

h1 {
    margin: 30px;
}

footer {
    background: #333333;
    height: 150px;
    color: white;
    text-align: center;
    padding-top: 30px;
}

/* TOAST FIX */
#toast-container.toast-top-full-width {
    width: 100%;
}