.home {
    display: none;
}

.navbar-main .navbar-nav > li > a {
    color: white;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar-main .navbar-nav > li:hover {
    background-color: white;
    transition: all 0.5s ease;
    border-radius: 5px;
}

.navbar-main .navbar-nav > li:hover a {
    color: black;
}

.navbar-main .navbar-nav > li {
    line-height: 40px;
    height: 40px;
}

.navbar-main .navbar-nav > li > a:hover,
.navbar-main .navbar-nav > li > a:focus {
    background: white;
}

.navbar-main .navbar-nav > .active > a, 
.navbar-main .navbar-nav > .active > a:hover, 
.navbar-main .navbar-nav > .active > a:focus {
    
}

.navbar-brand-main {
    line-height: 180px;
    height: 180px;
    padding-top: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-brand-main img {
    width: 160px;
    margin-top: -20px;
}

.navbar-main .navbar-nav li {
    padding-top: 50px;
}

.navbar-toggle {
    z-index: 3;
}

.slider {
    text-align: center;
    color: white;
    height: 100vh;
    width: 100%;
    background: url(/images/banners/banner3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sliderOverlay {
    margin-top: 180px;
}

#fun {
    font-family: 'Raleway', sans-serif;
    font-family: 'Lobster', cursive;
    font-size: 90px;
    margin-top: -40px;
    margin-bottom: -30px;
}

#dest {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.filter {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    background: rgb(234, 90, 85);
    border: 1px solid rgb(234, 90, 85);
    color: white;
}

.filter p {
    padding-top: 10px;
    font-size: 18px;
}

.filter a {
    color: black;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: rgb(234, 90, 85);
}

.nav-pills > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: white;
    color: black;
    border: 1px solid rgb(234, 90, 85);
}

.grid-item {
    width: 50%;
    height: 300px;
    overflow: hidden;
    position:relative;
}

.grid-item img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.grid-item:hover img {
    -webkit-filter: blur(2px);
    transform: scale(1.1,1.1);
}

.grid-item:hover .darkerCityPicture{
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.darkerCityPicture {
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
    position:absolute;
    top:0;
    left:0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 5;
}

.cityName {
    width: 100%;
    text-align: center;
    top: 48%;
    position: absolute;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 10;
}